<!-- templates/targets.html -->

<script src="/static/NmapScan.js"></script>
<link rel="stylesheet" href="/static/style.css">

<div id="target-body">

  <div class="column is-6 is-offset-3">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}

    <form class="box" hx-post="/api/targets" hx-target="#target-body">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">New Target</label>
        </div>
        <div class="field-body">
          <div class="field">
            <input class="input" id="name" name="name" type="text" placeholder="Name">
          </div>
          <div class="field">
            <input class="input" id="host" name="host" type="text" placeholder="Host">
          </div>
          <div class="field">
            <button class="button" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </form>

    {% for target in targets %}

    <div class="box">
      <div class="columns">
        <div class="column">
            {{ target.name }}
        </div>
        <div class="column">
            {{ target.hosts }}
        </div>
      </div>
    </div>

    {% endfor %}

  </div>

</div>

    <button id="run-scan-btn" class="button is-info" onclick="runNetworkScan()">Run Network Scan</button>
    <div id="scan-results"></div>
