#scan-results {
    color: black;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 20px;
}

#run-scan-btn {
    background: linear-gradient(to right, #007bff, #0056b3);
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
    display: block;
    width: 30%;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: all 0.3s;
}

#run-scan-btn:hover {
    background: linear-gradient(to right, #0056b3, #007bff);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
